@model TotalWarOreOtherIdeasForGames.ViewModel.FormationViewModel

@{
    ViewData["Title"] = "Edit";
}
<script type="text/javascript" src="~/Views/Style/js/Select.js">
    MarkCommonElements(@Model.Traits_, "#Traits");
    MarkCommonElements(@Model.Items_, "#Items");
    MarkCommonElements(@Model.Factions_, "#Factions");
</script>
<h1>Edit</h1>

<h4>Formation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFormation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Formation_.Id" />
            <div class="form-group">
                <label asp-for="Formation_.NumberSoldiers" class="control-label"></label>
                <input asp-for="Formation_.NumberSoldiers" class="form-control" />
                <span asp-validation-for="Formation_.NumberSoldiers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formation_.StartingFormationValue" class="control-label"></label>
                <input asp-for="Formation_.StartingFormationValue" class="form-control" />
                <span asp-validation-for="Formation_.StartingFormationValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formation_.FormationName" class="control-label"></label>
                <input asp-for="Formation_.FormationName" class="form-control" />
                <span asp-validation-for="Formation_.FormationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formation_.IdSoldier" class="control-label"></label>
                <select asp-for="Formation_.IdSoldier" class="form-control" asp-items="ViewBag.Soldiers"></select>
                <span asp-validation-for="Formation_.IdSoldier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formation_.IdHorse" class="control-label"></label>
                <select asp-for="Formation_.IdHorse" class="form-control" asp-items="ViewBag.Horses"></select>
                <span asp-validation-for="Formation_.IdHorse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Traits_" class="control-label"></label>
                <select asp-for="Traits_" class="form-control" asp-items="ViewBag.Traits"></select>
            </div>
            <div class="form-group">
                <label asp-for="Items_" class="control-label"></label>
                <select asp-for="Items_" class="form-control" asp-items="ViewBag.Items"></select>
            </div>
            <div class="form-group">
                <label asp-for="Factions_" class="control-label"></label>
                <select asp-for="Factions_" class="form-control" asp-items="ViewBag.Factions"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexFormation">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
