<h1>Login</h1>
<form asp-action="Login">
    <label>Username</label>
    <input type="text" name="UserName" />
    <label>Password</label>
    <input type="password" name="Password" />
    <input type="submit" value="Submit" />
</form>

@ViewBag.Username