@model TotalWarOreOtherIdeasForGames.ViewModel.FactionViewModel;

@{
    ViewData["Title"] = "Edit";
}
<script type="text/javascript" src="~/Views/Style/js/Select.js">
    MarkCommonElements(@Model.Formations_, "#Formations");
</script>
<h1>Edit</h1>

<h4>Faction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Faction_.IdFaction" />
            <div class="form-group">
                <label asp-for="Faction_.FactionName" class="control-label"></label>
                <input asp-for="Faction_.FactionName" class="form-control" />
                <span asp-validation-for="Faction_.FactionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faction_.FactionDescription" class="control-label"></label>
                <input asp-for="Faction_.FactionDescription" class="form-control" />
                <span asp-validation-for="Faction_.FactionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Formations_" class="=control-label"></label>
                @Html.ListBoxFor(f => f.Formations_, new SelectList(Model.ListFormations, "IdFormation", "FormationName"));
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexFaction">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
