@model TotalWarDLA.Models.SoldierModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SoldierModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSoldierModel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSoldier" />
            <div class="form-group">
                <label asp-for="AttackSkilll" class="control-label"></label>
                <input asp-for="AttackSkilll" class="form-control" />
                <span asp-validation-for="AttackSkilll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefenceSkill" class="control-label"></label>
                <input asp-for="DefenceSkill" class="form-control" />
                <span asp-validation-for="DefenceSkill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stamina" class="control-label"></label>
                <input asp-for="Stamina" class="form-control" />
                <span asp-validation-for="Stamina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speed" class="control-label"></label>
                <input asp-for="Speed" class="form-control" />
                <span asp-validation-for="Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acuracy" class="control-label"></label>
                <input asp-for="Acuracy" class="form-control" />
                <span asp-validation-for="Acuracy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoldierName" class="control-label"></label>
                <input asp-for="SoldierName" class="form-control" />
                <span asp-validation-for="SoldierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexSoldierModel">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
